$table-font-size: 12px;

.financial-report-table.ant-table-wrapper .ant-table {
  font-size: $table-font-size;
}

.financial-report-table {
  .main-table-header {
    font-size: 20px;
  }
  
  .table-header {
    p {
      text-align: end;
      color: gray;
      margin: 0;
      font-size: 10px;
    }
  
    .date {
      color: black;
      font-weight: bold;
      font-size: $table-font-size;
    }
  }
  
  .calculated-row td {
    background-color: rgb(241, 246, 249) !important;
    padding: 8px 8px !important;
    line-height: 1;
    font-weight: bold;
  
    .ant-table-row-expand-icon {
      display: none;
    }
  }

  .ant-table-row .ant-table-cell {
    padding: 30px 8px 8px 8px;
    text-align: right;

    &.ant-table-cell-fix-left {
      text-align: left;
    }
  }  
}
